@import "bootstrap";

$card-size: 300px;

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $card-size;
  width: 100%;
}

.thumbnail {
  width: $card-size;
  height: $card-size;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-height: 100%;
  }
}

.character-card {
  position: relative;
  width: $card-size;
  height: $card-size;
  list-style: none;

  &__title {
    position: absolute;
    top: $spacer;
    left: $spacer;
    border: 0;
    font-weight: $font-weight-bold;
    padding: .5rem;
    text-align: left;
    background-color: $black;
    color: $white;
  }

  &__subtitle {
    display: block;
    font-style: italic;
    font-size: $small-font-size;
    font-weight: $font-weight-light;
  }
}

.grid {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;

  .character-card {
    float: left;
    width: 50%;


    @include media-breakpoint-up(lg) {
      width: 25%;
    }
  }
}

.btn-no-style {
  padding: 0;
  border: 0;
}
